@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
  background: mintcream;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align: center;
  color: white;
  background: url("http://www.culinaryphoto.com/data/photos/178_1chocolate_ice_cream.jpg") no-repeat center center fixed;
  background-size: cover; }

#header {
  position: relative;
  top: 10px; }
  #header img {
    width: 300px; }

#nav {
  position: relative;
  top: 60px;
  width: 100%;
  margin: 0 auto; }
  #nav ul li {
    display: inline;
    color: white;
    padding: 20px;
    margin: 10px;
    font-size: 2em; }

.announcement {
  position: relative;
  top: 300px; }
  .announcement h2 {
    font-weight: 300; }

.sign-up {
  position: relative;
  top: 350px;
  height: 170px;
  background: rgba(0, 0, 0, 0.5); }
  .sign-up .email h3 {
    font-weight: 300; }

.social-footer {
  position: absolute;
  right: 50px;
  margin: 0 auto;
  width: 100%;
  bottom: 0; }
  .social-footer ul li {
    display: inline;
    color: grey;
    margin-left: 50px; }
